<div class="jumbotron">
  <div class='container'>
    <div class='text-center'>
      <div class='page-header'>
        <h1> Trails N' Brews </h1>
        <%= button_to 'Sign in/Sign up with google', google_login_path, method: :get %>
      </div>
    </div>
  </div>
</div>
